<div class="container">
    <div class="jumbotron text-center">
        <h1>Source controll system</h1>
        <h2>Single Page Applications Exam 2015</h2>
    </div>

    <div class="row jumbotron">
        <div class="col-md-4 text-center">
            <div>
                <strong>Commits</strong>
            </div>
            <div>
                <span>{{vm.stats.Commits}}</span>
            </div>
        </div>

        <div class="col-md-4 text-center">
            <div>
                <strong>Projects</strong>
            </div>
            <div>
                <span>{{vm.stats.Projects}}</span>
            </div>
        </div>

        <div class="col-md-4 text-center">
            <div>
                <strong>Users</strong>
            </div>
            <div>
                <span>{{vm.stats.Users}}</span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-7">
            <div class="panel panel-primary text-center">
                <div class="panel-heading">
                    <h3 class="panel-title">Projects</h3>
                </div>
                <div listed-projects class="panel-body">
                    
                </div>
            </div>
        </div>

        <div class="col-md-5">
            <div class="panel panel-primary text-center">
                <div class="panel-heading">
                    <h3 class="panel-title">Commits</h3>
                </div>
            </div>
            <div listed-commits class="panel-body">
                
            </div>
        </div>
    </div>
</div>