<div class="container">
    <div class="row page-header">
        <h2 class="col-md-10 text-center">{{vm.trip.driverName}} - {{vm.trip.departureDate | beautifulDate}}</h2>
        <a class="btn btn-primary  pull-right" ng-click='vm.joinTrip(vm.trip.id)' ng-hide='vm.trip.isMine || vm.trip.numberOfFreeSeats==0'>Join Trip</a>
    </div>

    <div class="row">
        <div class="col-md-4 text-center">
            From: <b>{{vm.trip.from}}</b>
        </div>
        <div class="col-md-4 text-center">
            To: <b>{{vm.trip.to}}</b>
        </div>
        <div class="col-md-4 text-center">
            Number of seats: <b>{{vm.trip.numberOfFreeSeats}}</b>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            Passengers: {{vm.trip.passengers.join(', ')}}
        </div>
    </div>
</div>
